name: cloudrun-deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    steps:
    
    - name: Checkout
      uses: actions/checkout@master

    # Setup gcloud CLI
    - uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_CREDENTIALS }}

    # Configure Docker with Credentials
    - name: Configure Docker
      run: |
        gcloud auth configure-docker

    # Build the Docker image
    - name: Build & Publish
      run: |
        gcloud config set project ${{ secrets.GCP_PROJECT }}
        gcloud builds submit --region=us-central1 --tag us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/${{ secrets.GCP_APPLICATION }}/${{ secrets.GCP_APPLICATION }}
        gcloud config set run/region us-central1

    # Deploy the Docker image to the GKE cluster
    - name: Deploy
      run: |
        gcloud run deploy ${{ secrets.GCP_APPLICATION }} --image us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/${{ secrets.GCP_APPLICATION }}/${{ secrets.GCP_APPLICATION }} \
        --platform managed \
        --allow-unauthenticated \
        --memory 256M
